
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    padding-bottom: 5%;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #21afa8;
    color: white;
  }
 
  .grid-container {
    display: grid;
    display: flexbox;
    grid-template-columns:repeat(12,1fr);
    background: rgb(255, 255, 255,);
    flex-wrap: wrap;
    padding-top: 2%;
    padding-left: auto;
    padding-right: auto;
    font-size: 40px;
    
  }
  .grid-item {
    background-color: rgb(210, 231, 235);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 18px;
    text-align: center;
    display: flex;
    
  }
  