<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="css/agregar_proveedores.css">
    <title>Agregar Proveedores</title>
</head>
<body>

    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'listar_proveedores' %}">Proveedor</a></li>
                    <li><a href="{% url 'agregar_producto' %}">Stock</a></li>
                    <li><a href="#">Venta</a></li>
                    <li><a href="#">PagarFiado</a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                    <li><a href="#">Perfil</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <br>

    <div class = "container" id = "contenedor_general">
        <main class = "main">
            <h1>Ingreso de Proveedores</h1>
            <h2>Nuevo Proveedor</h2>
            <form action="" method="POST">
                {% csrf_token %}
        
                <label for="">Rubro Empresa</label>
                <input type="text" name="Rubro Empresa">
                <br>
                <label for="">Nombre Empresa</label>
                <input type="text" name="Nombre Empresa">
                <br>
                <label for="">Nombre Proveedor</label>
                <input type="text" name="Nombre Proveedor">
                <br>
                <label for="">Telefono Proveedor</label>
                <input type="text" name="Telefono Proveedor">
                <br>
                <input type="submit" value="Guardar">
            </form>
        
            {{mensaje}}
        </main>
    </div>
</body>
</html>