<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <title>Agregar Proveedores</title>
</head>

<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'agregar_proveedores' %}">Proveedor</a></li>
                    <li><a href="{% url 'agregar_producto' %}">Productos</a></li>
                    <li><a href="#">Venta</a></li>
                    <li><a href="#">PagarFiado</a></li>
                    <li><a href="{% url 'registrar_cliente' %}">Clientes</a></li>
                    <li><a href="{% url 'agregar_ordenes' %}">Pedidos</a></li>
                    <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                    <li><a href="#">Perfil</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">

        <a href="{% url 'listar_proveedores' %}" class="btn btn-dark"> Listar Proveedores</a>
        <h2>Registro de Proveedores</h2>
        <div class="contenedor">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Rubro Empresa</label>
                    <input class="form-control" type="text" name="Rubro Empresa">
                </div>
                <br>

                <div class="form-group">
                    <label for="">Nombre Empresa</label>
                    <input class="form-control" type="text" name="Nombre Empresa">
                </div>
                <br>

                <div class="form-group">
                    <label for="">Nombre Proveedor</label>
                    <input class="form-control" type="text" name="Nombre Proveedor">
                </div>
                <br>

                <div class="form-group">
                    <label for="">Telefono Proveedor</label>
                    <input class="form-control" type="text" name="Telefono Proveedor">
                </div>
                <br>

                <button type="submit" class="btn btn-dark" value="Guardar"> Guardar </button>
            </form>        
        </div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %} 
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}



    </main>
</body>
</html>