<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <title>Listar Empleados</title>
</head>

<body>

    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    {% if user.username %}
                        <li><a href="{% url 'agregar_proveedores' %}">Proveedor</a></li>
                        <li><a href="{% url 'agregar_producto' %}">Productos</a></li>
                        <li><a href="#">Venta</a></li>
                        <li><a href="#">PagarFiado</a></li>
                        <li><a href="{% url 'registrar_cliente' %}">Clientes</a></li>
                        <li><a href="{% url 'agregar_ordenes' %}">Pedidos</a></li>
                        <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="{% url 'registro' %}">Registro</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                    {% else %}    
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </header>

    <main class="main">



        <h2>Listado de Empleados</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Nombre Usuario</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for e in empleados %}

            <tr>
                <td>{{ e.1 }}</td>
                <td>{{ e.2 }}</td>
                <td>{{ e.3 }}</td>
                <td>{{ e.4 }}</td>
                <td>{{ e.5 }}</td>
                <td>{{ e.7 }}</td>
                <td>
                    <a type="button" href="{% url 'modificar_empleado' id=e.0 %}" class="btn btn-warning"><i class="fa fa-pencil"> Editar</i></a>
                    <a type="button" href="#" onclick="eliminarEmpleado('{{e.0}}')" class="btn btn-danger"><i class="fa fa-trash"> Eliminar</i></a>
                    
                </td>  
            </tr>

            {% endfor %}

        </table>

    {% block js %}
        <script>
            function eliminarEmpleado(id) {
                var url = "/eliminarEmpleado/" + id;
                console.log(url);
                Swal.fire({
                        title: 'Eliminar',
                        text: "¿Esta Seguro de eliminar el empleado?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Eliminar',
                        cancelButtonText: "Cancelar"
                }).then((result) => {
                        if (result.value) {
                            document.location.href = url;
                        }
                });
            }
        </script>
        {% endblock %}

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>




        {% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                "title": "Proceso Correcto",
                "text": "{{m}}",
                "icon": "success"
            })
        </script>
        {% endfor %}
        {% endif %}


    </main>

</body>

</html>