<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <title>Listar Proveedores</title>
</head>
<body>
    
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'agregar_proveedores' %}">Proveedor</a></li>
                    <li><a href="{% url 'agregar_producto' %}">Stock</a></li>
                    <li><a href="#">Venta</a></li>
                    <li><a href="#">PagarFiado</a></li>
                    <li><a href="{% url 'registrar_cliente' %}">Clientes</a></li>
                    <li><a href="{% url 'agregar_ordenes' %}">Pedidos</a></li>
                    <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                    <li><a href="#">Perfil</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <br>
    <main class = "main">
        <h2>Listado de Proveedores</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID de Proveedor</th>
                    <th>Rubro Empresa</th>
                    <th>Nombre Empresa</th>
                    <th>Nombre Proveedor</th>
                    <th>Telefono Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>            
            {% for p in proveedores %}
            <tr>
                <td>{{ p.0 }}</td>
                <td>{{ p.1 }}</td>
                <td>{{ p.2 }}</td>
                <td>{{ p.3 }}</td>
                <td>{{ p.4 }}</td>
                <td>{{ p.5 }}</td>
                <td>
                    <a type="button" href="{% url 'modificar_proveedores' id=e.0 %}" class="btn btn-warning"><i class="fa fa-pencil"> Editar</i></a>
                    <a type="button" href="{% url 'eliminar_proveedores' idProveedor=e.0 %}" class="btn btn-danger"><i class="fa fa-trash"> Eliminar</i></a>
                </td> 
            </tr>
            {% endfor %}
        </table>
    </main>     
</body>
</html>