<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    
    <title>Listar Empleados</title>
</head>
<body>
    
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'listar_proveedores' %}">Proveedor</a></li>
                    <li><a href="{% url 'agregar_producto' %}">Stock</a></li>
                    <li><a href="#">Venta</a></li>
                    <li><a href="#">PagarFiado</a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                    <li><a href="#">Perfil</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

<main class="main">



    <h2>Listado de Empleados</h2>
    <table class="table">
  <thead class="thead-dark">
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Nombre Usuario</th>
            <th>Cargo</th>
        </tr>
        </thead>
        {% for e in empleados %}
            
            <tr>
                <td>{{ e.1 }}</td>
                <td>{{ e.2 }}</td>
                <td>{{ e.3 }}</td>
                <td>{{ e.4 }}</td>
                <td>{{ e.5 }}</td>
                <td>{{ e.7 }}</td>
            </tr>            
            
        {% endfor %}

    </table>

</main>

</body>
</html>