<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">


    <title>Listado de Ordenes</title>
</head>
<body>

    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="{% url 'listar_proveedores' %}">Proveedor</a></li>
                    <li><a href="{% url 'agregar_producto' %}">Stock</a></li>
                    <li><a href="#">Venta</a></li>
                    <li><a href="#">PagarFiado</a></li>
                    <li><a href="{% url 'agregar_ordenes' %}">Pedidos</a></li>
                    <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                    <li><a href="#">Perfil</a></li>

                </ul>
            </nav>
        </div>
    </header>


<main class="main">


    <h2>Listado de Ordenes de Pedido</h2>
    <table class="table">
            <thead class="thead-dark">
            <th>Cantidad productos</th>
            <th>Precio unitario</th>
            <th>Precio total</th>
            <th>Fecha pedido</th>
            <th>Fecha entrega</th>
            <th>Estado</th>
            <th>ID Empleado a cargo</th>
            <th>ID Proveedor</th>
            <th>Descripcion</th>
            
        </tr>
        </thead>
        {% for o in ordenes %}

            <tr>
                <td>{{ o.1 }}</td>
                <td>{{ o.2 }}</td>
                <td>{{ o.3 }}</td>
                <td>{{ o.4 }}</td>
                <td>{{ o.5 }}</td>
                <td>{{ o.6 }}</td>
                <td>{{ o.7 }}</td>
                <td>{{ o.8 }}</td>
                <td>{{ o.9 }}</td>
                

            </tr>            

        {% endfor %}

    </table>


    </main>
</body>
</html>