<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<H1>Gestion Productos</H1>

<h2>productos</h2>
<table>
    <tr>
        <th>id producto</th>
        <br>
        <th>Grupo producto</th>
    </tr>
    {% for p in productos %}
    <tr>
        <td>{{ p.0 }}</td>
        <td>{{ p.1 }}</td>
    </tr>


    {% endfor %}

</table>

    
</body>
</html>