<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    
    <title>Registro Clientes</title>

</head>
<body>



    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">YUYITOS</a>
            <nav class="navigation">
                <ul>
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    {% if user.username %}
                        <li><a href="{% url 'agregar_proveedores' %}">Proveedor</a></li>
                        <li><a href="{% url 'agregar_producto' %}">Productos</a></li>
                        <li><a href="#">Venta</a></li>
                        <li><a href="#">PagarFiado</a></li>
                        <li><a href="{% url 'registrar_cliente' %}">Clientes</a></li>
                        <li><a href="{% url 'agregar_ordenes' %}">Pedidos</a></li>
                        <li><a href="{% url 'agregar_empleados' %}">Empleado</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="{% url 'registro' %}">Registro</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                    {% else %}    
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </header>


<main class="main">
    


    <a href="{% url 'cliente_fiado' %}" class="btn btn-dark"> Listar Clientes</a>

        
    <h2>Registrar cliente</h2>
    
    
    <div class="contenedor">
    <form method="POST">
        {% csrf_token %}
        
            <div class="form-group">
                <label for="rut_cliente">RUT</label>
                <input type="text" class="form-control" name="rut_cliente" id="rut_cliente">
            </div>
            <br>

            <div class="form-group">
                <label for="nombre_cliente">Nombre</label>
                <input type="text" class="form-control" name="nombre_cliente" id="nombre_cliente">
            </div>
            <br>

            <div class="form-group">
                <label for="direccion_cliente">Dirección</label>
                <input type="text" class="form-control" name="direccion_cliente" id="direccion_cliente">
            </div>
            <br>

            <div class="form-group">
                <label for="telefono_cliente">Teléfono</label>
                <input type="text" class="form-control" name="telefono_cliente" id="telefono_cliente">
            </div>
            <br>

            <div class="form-group">
                <label for="monto_total_deuda">Monto</label>
                <input type="number" class="form-control" name="monto_total_deuda" id="monto_total_deuda">
            </div>
            <br>

            <div class="form-group">
                <label for="venta_id">Venta a Fiar</label>
                <select name="venta_id" id="venta_id" class="form-control">
                    <option value="">Seleccionar</option>
                    {% for c in ventas %}
                    <option value="{{ c.0 }}">Venta N° - {{ c.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            
            <button type="submit" class="btn btn-dark" value="Guardar"> Guardar </button>
            
            {{mensaje}}
        
    </form>
    
    

    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %} 
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}



</main>
</body>
</html>
